* {
    margin: 0;
    font-family: 'Press Start 2P', cursive;;
}

body {
    display: grid;
    grid-template: 1fr 6fr / 1fr 5fr;
    height: 100vh;
}

header {
    background-color: pink;
    grid-column: 2 / 3;

    display: grid;
    grid-template: 1fr 4fr;
    padding: 8px;
    padding-left: 64px;
}

.search-and-profile {
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}

.greeting-redirect-links {
    display: grid;
    grid-template-columns: 12fr 1fr 1fr 1fr;

}


.greeting-redirect-links > form > input{
    font-size: 10px;
    width: 84px;
}


.dashboard-logo {
    width: 35px;
}

.sidebar {
    background-color: blue;
    grid-row: 1 / 3;
    padding: 16px;

    display: grid;
    grid-template-rows: 1fr 9fr;
}

.dashboard-links {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    justify-content: start;
    font-size: 16px;
    height: 244px;
}

a {
    text-decoration: none;
    color: black;
}

.dashboard {
    display: flex;
    
    align-items: center;
    gap: 8px;
    font-size: 24px;
}